* {
    text-shadow: #000000 0px 4px 5px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('./Imagenes/fondoIndex.jpeg');
    background-size: cover;
    background-position: center center;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    flex: 1;
}

main {
    flex: 1;
}
header {
    text-align: center;
    position: center;

}

.cabecera {
    background-color: #636363;
    border: 5px solid #ddd;
    border-radius: 15px;
    padding: 0px;
    margin: 20px auto;
    width: 80%;
    box-shadow: #000000 2px 8px 8px;
}

div h1 {
    margin: 0;
}

nav {
    margin: 0 auto;
    flex-direction: row;
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.4rem;
}

a {
    box-shadow: #000000 0px 4px 8px;
    margin: 0 0.1%;
    padding: 1% 1.5%;
    border: #fff solid 0.12rem;
    border-radius: 0.3rem;
    text-decoration: none;
    background-color: rgb(21, 3, 183);
    font-weight: bold;
    color: white;
    transition: transform 0.4s ease, filter 0.4s ease;
}

a:hover {
    background-color: #fff;
    color: rgb(21, 3, 183);
    transform: translateY(-6px);
    border: rgb(21, 3, 183) solid 0.12rem;
}

.visor {
    margin: 1% 3%;
    display: flex;

}

nav:hover~.visor iframe {
    opacity: 0.35;
    transform: scale(1.01);
    background-color: #000000;
}

iframe {
    background-color: #ddd;
    top: 8.5rem;
    width: 100%;
    height: 64.5vh;
    border: 5px solid #ddd;
    border-radius: 1rem;
    transition: opacity 0.3s ease, transform 0.3s ease;
    box-shadow: #000000 0px 4px 8px;
}

footer {

    background-color: rgb(119, 142, 227);
    border-radius: 0.3rem;
    border: #ddd solid;
    width: auto;
    padding: 0.03rem;
}

@media (max-width: 900px) {
    nav {
        width: 95%;
        margin: 0 auto;
    }

    nav a {
        min-width: 120px;
        text-align: center;
        margin: 0.25rem;
    }
}

