* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

html {
    box-sizing: border-box;
    font-size: 62.590;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    background-color: #354f73;

}

h1 {
    font-size: 5rem;
}
nav{
    display: flex;
    justify-content: space-between;

}

nav a{
    text-decoration: none;
    background-color: orange;
    color: black;
    flex: 1;
    padding: 1rem;
}
section {
    gap: 2rem;
    margin-top: 2rem;
    justify-content: space-around;
}
section *{
    border-radius: 2.5rem;
}
section img{
    
    width: 20%;
    flex: 1 1 20%;/* 1 crece 1 encoge y 70% tamaño*/

}
aside {
    background-color: antiquewhite;
    flex: 1 1 50%;
    padding: 5rem;

}

header,
footer {
    background-color: #ff9e4f;
    text-align: center;
}

main {
    flex: 1;
}

article {
    background-color: #7EA1F5;
    padding: 2rem;
    border-radius: 25px;
}

section {
    display: flex;
    gap: 2rem;
}
