* {
    box-sizing: border-box;
    margin: 0px;
}
body {
    background-color: #121212;
}

#negra {
    color: black;
    background-color: rgba(39, 37, 37, 0.815);
    padding: 30px;
    clear: both;
    width: 100%;
    text-align: left;
    border-radius: 0px;

}

div {
    text-align: center;
    background-color: black;
    width: 150px;
    height: 100px;
    padding: 30px;
    border-radius: 90px;
    margin: 20px 0px 20px 0px;

}

#azul1 {
    background-color: rgb(8, 120, 248);
    padding-top: 10%;
    border-radius: 100%;
    width: 25%;
    margin: auto;
    height: 130px;
    float: left;
    margin: 0px 0px 20px 0px;
}

#amarilla {
    background-color: rgb(217, 255, 0);
    padding-top: 10%;
    border-radius: 100%;
    width: 25%;
    margin: auto;
    height: 130px;
    float: left;
}

#roja {
    background-color: rgb(255, 0, 0);
    padding-top: 10%;
    border-radius: 100%;
    width: 25%;
    margin: auto;
    height: 130px;
    float: left;
}

#azul2 {
    background-color: rgb(50, 117, 240);
    padding-top: 10%;
    border-radius: 100%;
    width: 25%;
    margin: auto;
    height: 130px;
    float: right;
}

#verde {
    background-color: rgb(60, 255, 0);
    padding: 30px;
    clear: both;
    width: 100%;
    text-align: left;
    border-radius: 0px;

}