* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.paginaA {
    background-image: url("mundial2026.jpg");
    background-size: cover;
    background-position: center;
    height: 1600px;
    
}

header, footer {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    text-align: center;
}

section {
    margin-top: 200px;
    text-align: center;
    
    flex: 1;
}

#videoFondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}


.paginaB header,
.paginaB footer {
    
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 20px;
    position: relative;
}
